@import "@aws-amplify/ui-react/styles.css";
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-notifications-item-icon.bg-warning {
  margin-right: 20px;
  margin-bottom: 4px;
  font-size: 25px;
  border-radius: 50%;
  width: 35px;
  text-align: center
};

.dropdown-notifications-item-icon.bg-warning>svg {
  margin-bottom: 5px;
};